torch
einops
tqdm
coolname
pydantic
argdantic
omegaconf
hydra-core
huggingface_hub
numpy
ninja
packaging
pandas
optuna
rich
optuna-dashboard
textual
pytest
click
scipy
matplotlib
scikit-learn
plotext
GitPython
PyYAML==6.0.1
PyQt6
